<div class="jumbotron jumbotron__image">
  <h1 class="text-center">{{postById.postBody}}</h1>
</div>



  <!-- Button trigger modal -->

  <div class="container-fluid d-flex justify-content-end">
    <button type="button" class="btn btn-primary justify-content-end" data-toggle="modal" data-target="#replyModal">
      Reply
    </button>
  </div>


<div class= "card containerReply">
<!--View all Replies-->
<div class="container2 d-flex justify-content-center">
  <div class="w-75">
    <div *ngFor="let allReply of allReplies" class="container">
      <p>{{ allReply.replyBody }}</p>
    </div>
  </div>
</div>
</div>

<!-- Modal -->
<div class="modal fade" id="replyModal" tabindex="-1" role="dialog" aria-labelledby="ReplyTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ReplyTitle">Leave a Reply</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #newReply="ngForm">
          <div class="form-group">
            <textarea [(ngModel)]="replyForum" class="form-control" name="replyBody" id="replyBody" cols="30"
              rows="5"></textarea>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" data-dismiss="modal"
              (click)="createReply(newReply)">Reply</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>