/* Style the container with a rounded border, grey background and some padding and margin */
.jumbotron__image {
  background-image: url('https://media.fshoq.com/images/39/free-image-39-medium.jpg');
  background-size: cover; 
  background-position: center;
  height: 15rem;
}

.container {
    border: 2px solid #ccc;
    background-color: #eee;
    border-radius: 5px;
    padding: 10px;
    margin: 13px 0;
    height: 100px;
    box-shadow: 5px 5px black;
  }

.containerHeader {
    border: 2px solid #ccc;
    background-color: #eee;
    margin: 10px;
}

.containerReply {
  margin: 3rem 6rem 2rem 6rem;
  padding: 2rem ;
  background-image: url("https://static.vecteezy.com/system/resources/thumbnails/000/544/150/original/180228_11_White_abstract_background_vector_01.jpg");
  background-size: cover;
  background-color: rgb(215, 235, 242);

}
  

  
  
  