<div>
    <h1>{{postById.postBody}}</h1>
    <h2>{{postById.postId}}</h2>
</div>

<div *ngFor="let allReply of allReplies" class=" card w-25 m-3 p-4">
          <h2 class="text-center">{{ allReply.replyId}}</h2>
          <div class="row">
            <div class="col-9">
              <div class="">Reply: {{ allReply.replyBody }}</div>
            </div>
          </div>
        </div>


<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#replyModal">
        Reply
      </button>
      
      <!-- Modal -->
      <div class="modal fade" id="replyModal" tabindex="-1" role="dialog" aria-labelledby="ReplyTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="ReplyTitle"></h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form #newReply="ngForm">
                <div class="form-group">
                  <!-- <label for="postMessage">Reply.</label> -->
                  <textarea [(ngModel)]="replyForum" class="form-control" name="replyBody" id="replyBody" cols="30"
                    rows="5"></textarea>
                </div>
      
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary" data-dismiss="modal"
                    (click)="createReply(newReply)">Reply</button>
                </div>
              </form>
      
            </div>
          </div>
        </div>
      </div>
   