<div class="accordion" id="accordionExample">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h2 class="mb-0">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Question 1: What is addiction?
              </button>
            </h2>
          </div>
      
          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
                Addiction is a complex, chronic brain disease characterized by drug craving, seeking, and use that persists even in the face of devastating life 
                consequences. Addiction results largely from brain changes that stem from prolonged drug use—changes that involve multiple brain circuits, including 
                those responsible for governing self-control and other behaviors. Drug addiction is treatable, with medications (for some addictions) and/or behavioral 
                therapies. However, relapse is common and can happen even after long periods of abstinence, underscoring the need for long-term support and care.
                Relapse does not signify treatment failure, but rather should prompt treatment re-engagement or modification.
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Question 2: How quickly can someone become addicted to a drug?
              </button>
            </h2>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">
                There is no easy answer to this common question. If and how quickly you become addicted to a drug depends on many factors, including your biology
                (your genes, for example), age, gender, environment, and interactions among these factors. While one person may use a drug one or many times and 
                suffer no ill effects, another person may overdose with the first use or become addicted after a few uses. There is no way of knowing in advance how 
                quickly you will become addicted, but there are some clues—an important one being whether you have a family history of addiction.
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" id="headingThree">
            <h2 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Question 3: What is withdrawal? How long does withdrawal last?
              </button>
            </h2>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body">
                Withdrawal describes the various symptoms that occur after a person abruptly reduces or stops long-term use of a drug. Length of withdrawal and symptoms 
                vary with the type of drug. For example, physical symptoms of heroin withdrawal may include restlessness, muscle and bone pain, insomnia, diarrhea, vomiting, 
                and cold flashes. These physical symptoms may last for several days, but the general depression, or dysphoria (opposite of euphoria), that often accompanies 
                heroin withdrawal may last for weeks. In many cases, withdrawal can be treated with medications to ease the symptoms, but treating withdrawal is not the same 
                as treating addiction.
            </div>
          </div>
        </div>

        <div class="card">
            <div class="card-header" id="headingFour">
              <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                  Question 4: What should I do to help with my addiction?
                </button>
              </h2>
            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
              <div class="card-body">
                There are many different types of help available from self-help groups to professional treatment. We have created a personal action plan for recovery for 
                those people who would prefer the self-help approach. We have also developed guidelines for choosing treatment options for those people who prefer 
                professional assistance. Please see the Treatment for Addiction section for those resources and more.
              </div>
            </div>
          </div>
      </div>
    
