<app-carousel></app-carousel>
<app-statistics></app-statistics>

<br>
<br>
<br>
<br>
<div class="container d-flex justify-content-center">
  <div class="card bg-warning">
    <div class="card-body">

      <h4>test form</h4>
      <form action="" method="post">
        <div class="form-group">
          <input #emails [(ngModel)] = "email"  type="email" name="email" id="userEmail" placeholder="email" class="form-control">
        </div>
        <div class="form-group">
          <input #usernames [(ngModel)] = "username" type="text" name="username" id="userUsername" placeholder="username" class="form-control">
        </div>
        <div class="form-group">
          <input #passwords [(ngModel)] = "password" type="password" name="password" id="userPassword" name="password" class="form-control">
        </div>
        <button class="btn btn-primary" (click) = "onSubmit(emails.value, usernames.value, passwords.value)">submit</button>
      </form>
    </div>
  </div>
</div>