<div class="container">

    <div class="font-weight-bold text-center mt-5 statDiv">Substance addiction is a growing issue in the United States that impacts millions of people and their families. Get the facts here:</div>
    <div class="card mt-3 mb-4 border border-dark">
      <div class="card-header font-weight-bold">
        Addiction Facts
      </div>
      <div class="card-body">
        <li>Twenty-three million Americans age 12 or older suffer from alcohol and drug addiction.</li>
        <li>More than 15 million of those are dependent on alcohol, roughly 4 million are dependent
          on drugs, the rest are dependent on both.</li>
        <li>In 2006, nearly 1.8 million Americans were admitted to drug and alcohol treatment
          facilities</li>
        <li>Individuals treated for alcohol misuse are approximately 10 times more likely to commit
          suicide than those who do not misuse alcohol</li>
        <li>Individuals who abuse drugs have about 14 times greater the risk for eventual suicide</li>
      </div>
    </div>
    <div class="card mb-4 border border-dark">
      <div class="card-header font-weight-bold">
        Youth
      </div>
      <div class="card-body">
        <li>In 2008, 9.3 percent of youths aged 12 to 17 were current illicit drug users.</li>
        <li>More than 14.5 percent of U.S. kids ages 12 - 17 drink alcohol.</li>
        <li>Children of alcoholics are four times as likely to develop problems with alcohol.</li>
        <li>Nearly 17 percent of all children under age 14 in the U.S., and 20 percent of children
          under 18 live with a parent (or legally responsible adult) who drinks heavily or has an
          alcohol problem.</li>
        <li>Children who learn about the risk of drugs at home are up to 50 percent less likely to use
          drugs than those who are not taught about the dangers.</li>
        <li>Mental health intervention initiatives have been found to reduce depressive symptom levels by 50 
          percent or more, one year after the intervention.</li>
        <li>Only a third of parents discuss the risks of abusing prescription medicines with their kids.</li>
        
      </div>
    </div>
    <div class="card mb-4 border border-dark">
      <div class="card-header font-weight-bold">
        There is Hope in Recovery
      </div>
      <div class="card-body">
        <li>In any given day, over 700,000 Americans seek treatment for alcohol or drug addiction.</li>
        <li>At least one-third of alcoholics fully recover</li>
        <li>Using prescription drugs to combat alcohol dependency, in combination with treatment,
          boost the recovery success rate to 50 percent</li>
        <li>There are an estimated 1.25 million Alcoholics Anonymous members in the U.S.</li>
        <li>There are more than 25,000 Narcotics Anonymous groups in the world</li>
        <li>A majority of Americans (80 percent) have positive feelings about prevention and
          recovery from substance use disorders</li>
      </div>
    </div>
  </div>