
<!-- message box place here for testing... -->
<div class="container mt-4 d-flex justify-content-center">
  <div class="card w-75 messager">

    <div class="card-body">
      <h2 class="text-center">message box</h2>

      <form #newComment="ngForm" (ngSubmit) = "insertComment(newComment)">
        <div class="form-group">
          <label for="postMessage">Post message...</label>
          <textarea [(ngModel)]= "postComment" class="form-control" name="postBody" id="postComment" cols="30" rows="5"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">submit</button>
      </form>
    </div>

  </div>
</div>

<div class="container d-flex justify-content-center">
    <div class="m-4 w-75">
        <div *ngFor="let post of forumPosts" class="card w-100">
          <div class="card-body">
            <h5>{{post.postBody}}</h5>
          </div>
        </div>
        <div *ngFor="let reply of forumReplies" class="card w-100">
          <div class="card-body">
            <h5>{{reply.replyBody}}</h5>
          </div>
        </div>

    </div>
    
</div>



  