<!-- message box place here for testing... -->
<div class="row container-fluid">
<div class="container mt-4 d-flex justify-content-center">
    <div class="card w-50 messager">
  
      <div class="card-body">
        <form #newComment="ngForm" (ngSubmit)="insertComment(newComment)">
          <div class="form-group">
            <h5>New Post:</h5>
            <textarea [(ngModel)]="postComment" class="form-control" name="postBody" id="postComment" cols="30"
              rows="5"></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
  
    </div>

  </div>


<div *ngFor="let allPost of allPosts" class="card w-50">
    <div class="card-body">
      <div class="container-fluid d-flex justify-content-between">
          <h5>Post #: {{ allPost.postId}}</h5>
        <button type="button" class="btn btn-primary btn-sm" routerLink="post/{{allPost.postId}}">View Replies</button>
      </div>
      <h5 class="card-text container-fluid" >  {{ allPost.postBody }}</h5>
    </div>
  </div>
  </div>
















