.group {
  background: #E5F8FB;
  cursor: pointer;
  border: black solid;
  border-width: .5px;
  transition: all .6s;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
.group:hover {
  transform: scale(1.06);
}

.userGroup__card {
  margin-top: 1rem;
 /*  background-image: url('https://static.wixstatic.com/media/72cbe8_2a16083e58c74009a288d9b797881414.jpg');
  background-size: cover; */
  /* height: 400px; */
}
.background {
  background-color: #f1f8e9;
}

.jumbotron__image {
  background-image: url('https://static.wixstatic.com/media/72cbe8_2a16083e58c74009a288d9b797881414.jpg');
  background-size: cover;
  background-position: center;
  height: 15rem;
}

.group__header {
  background-color: #01376D;
}
