<div class="container d-flex align-items-center" style="height: 600px">
<div class="containermain d-flex justify-content-center card-group">
    <div class="border border-dark card">
        <img src="https://pm1.narvii.com/7071/eafe67a376799ef694a3c472a941e5c754443dfcr1-200-309v2_128.jpg" class="hotline card-img-top" alt="National Suicide Prevention Logo">
        <div class="card-body">
            <h5 class="card-title"><a href="https://suicidepreventionlifeline.org/">Contact Information for Suicide Prevention</a></h5>
            <h6 class="card-subtitle mb-2 text-muted">US Suicide Prevention Lifeline</h6>
            <p class="card-text">Number: 1-800-273-8255</p>
            <h6 class="card-subtitle mb-2 text-muted">Suicide Prevention Services Crisis Hotline</h6>
            <p class="card-text">Number: 1-800-784-2433</p>
            <h6 class="card-subtitle mb-2 text-muted">Suicide Prevention Services Depression Hotline</h6>
            <p class="card-text">Number: 630-482-9696</p>
        </div>
        <div class="bg-secondary card-footer">
            <small class="text-white">Last updated on 09/17/2019</small>
        </div>
        </div>
        <div class="border border-dark card">
            <img src="https://smokingcessationleadership.ucsf.edu/sites/smokingcessationleadership.ucsf.edu/files/styles/directors-corner/public/directors-corner/samhsa1.png?itok=F__Ty5Vp" class="hotline card-img-top" alt="Substance Abuse Logo">
            <div class="card-body">
                <h5 class="card-title"><a href="https://www.samhsa.gov/find-help/national-helpline">Contact Information for Substance Abuse</a></h5>
                <h6 class="card-subtitle mb-2 text-muted">Substance Abuse and Mental Health Services Adminstration's National Helpline</h6>
                <p class="card-text">Number: 1-800-662-4357</p>
            </div>
            <div class="bg-secondary card-footer">
                <small class="text-white">Last updated 09/17/2019</small>
            </div>
        </div>
        <div class="border border-dark card">
            <img src="https://is3-ssl.mzstatic.com/image/thumb/Purple4/v4/07/10/a4/0710a4de-374a-d9e6-6609-1ee19960f6e8/source/512x512bb.jpg" class="hotline card-img-top" alt="Gambling Addiction Logo">
            <div class="card-body">
                    <h5 class="card-title"><a href="https://www.ncpgambling.org/help-treatment/national-helpline-1-800-522-4700/">Contact Information for Gambling Addiction</a></h5>
                    <h6 class="card-subtitle mb-2 text-muted">National Problem Gambling Helpline</h6>
                    <p class="card-text">Number: 1-800-522-4700</p>
            </div>
            <div class="bg-secondary card-footer">
                <small class="text-white">Last updated 09/17/2019</small>
            </div>
        </div>
      </div>
    </div>

