.navbar{
    background-color: #0c26ce;
}
.navbar .navbar-brand {
    color: #FFF;
    font-weight: bolder;
    font-size: 1.8em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* .navbar .navbar-nav {
    margin: 0 auto;
} */

.navbar .nav-item {
    color: #FFF !important;
}

