.navbar{
    background-color: #01376D;
}
.navbar .navbar-brand {
    color: white;
    font-weight: bolder;
    font-size: 1.8em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.navbar .nav-item {
    color: white !important;
}

.logoutBtn {
    border-radius: 40rem;
  }