<form>
    <div class="form-group">
        <label for="groupForum">Name</label>
        <input type="text" class="form-control" id="groupForum"
            placeholder="name">
    </div>
    <div class="form-group">
        <label for="selectAddiction">Addiction</label>
        <select class="form-control" id="selectAddiction">
            <option>Alcohol</option>
            <option>Nicotine</option>
            <option>Pain Killers</option>
            <option>Meth</option>
            <option>Cocaine</option>
        </select>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Create Group</button>
    </div>
</form>
